{{#recipe}}
<h2>Edit {{name}}</h2>

{{#errorMsg}}
<div class="alert alert-danger">
  {{.}}
</div>
{{/errorMsg}}

<form action="/{{_id}}/edit/" method="POST">
  {{#fields}}
  {{^nested}}
  <p class="{{#error}}error{{/error}}">
    <label for="{{name}}">{{label}}</label>
    <input type="text" id="{{name}}" name="{{name}}" value="{{value}}" />
    {{#error}}
    <div class="error-message">
      {{.}}
    </div>
    {{/error}}
  </p>
  {{/nested}}
  {{#nested.0.0}}
  <fieldset>
    <legend>
      {{label}}
    </legend>
    {{#nested}}
    <p>
      {{#.}}
      <input class="{{#error}}error{{/error}}" type="text" name="{{name}}[{{index}}][{{nestedname}}]" placeholder="{{nestedlabel}}" value="{{value}}" />
      {{#error}}
      <div class="error-message">
        {{.}}
      </div>
      {{/error}}
      {{/.}}
    </p>
    {{/nested}}
  </fieldset>
  {{/nested.0.0}}
  {{/fields}}

  <p>
    <button type="submit">Update recipe</button>
    <a href="/{{_id}}/" class="button button-danger">Return to recipe</a>
  </p>
</form>
{{/recipe}}
