<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
      {{{yield}}}
  </div>
</body>
</html>
