{{#recipe}}
<div class="recipe">
  <h2>{{name}}</h2>
  <p>
    <a href="/">Back to recipe list</a>
  </p>
  <dl>
  {{#source}}
  <dt>
    Source
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/source}}
  {{#prepTime}}
  <dt>
    Prep time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/prepTime}}
  {{#cookTime}}
  <dt>
    Cook time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/cookTime}}
  </dl>

  <h3>Ingredients</h3>
  {{^ingredients}}
  <p>
    You do not have any ingredients.
  </p>
  {{/ingredients}}
  <ul>
  {{#ingredients}}
    <li>
      {{amount}} {{measure}} {{ingredient}}
    </li>
  {{/ingredients}}
  </ul>
  <p>
    <a href="/{{_id}}/new_ingredient/" class="button">Add an ingredient</a>
  </p>

  <h3>Steps</h3>
  {{^steps}}
  <p>
    You do not have any steps.
  </p>
  {{/steps}}
  <ol>
  {{#steps}}
    <li>
      {{.}}
    </li>
  {{/steps}}
</ol>
  <p>
    <a href="/{{_id}}/new_step/" class="button">Add a step</a>
  </p>
</div>
{{/recipe}}
